.top-bar {
    background-color: gray;
}

#nav-bar-name{
    font-size: 1.5rem;
    white-space: nowrap;
}

* {
    font-family: '', sans-serif;
}

input {
    width: 20px;
    height: auto;
}

/*img {*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

.page-content {
    margin: 20px 20px;
    max-width: 50%;
}

p {
    text-align: left;
}